.container-tips {
    margin: 20px 0;
    text-align: center;
}

.tip {
    font-size: 1.5em;
    color: #333;
    padding: 20px 0;
}

.tip .btn-shop {
    color: #333;
}

.tip__txt {
    color: #959596
}